<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>

    <%- include('nav.html') %>

        <h4 class="container mt-4"><strong>글 작성페이지</strong></h4>

        <div class="container mt-3">
            <form action="/edit?_method=PUT" method="POST">
                <input value="<%= post._id %>" name="id" style="display : none">
                <div class="form-group">
                    <label>오늘의 할일</label>
                    <input value="<%= post._id %>" name="id" style="display : none">
                    <input value="<%= post.제목 %>" type="text" class="form-control" name="title">
                </div>
                <div class="form-group">
                    <label>Due date</label>
                    <input value="<%= post.날짜 %>" type="text" class="form-control" name="date">
                </div>
                <button type="submit" class="btn btn-danger ">Submit</button>
            </form>
        </div>